<div class="row">
  <div class="8">
    <form>
      <div class="row">
        <div class="col-sm-8 form-inline form-group">
          <label for="codeName" class="col-form-label col-form-label-sm text-left justify-content-start">Code Name&nbsp;</label>
          <input type="text" id="codeName" class="form-control">
          <button class="btn btn-success pull-right">Add Player</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <ul class="list-group">
        <app-player *ngFor="let player of players" [player] = player></app-player>
    </ul>
  </div>
</div>
